---
import Footer from "./Footer.astro"
---

<div class="p-20 bg-[#f3f4f5] dark:bg-black pt-50 pb-50" >
    <div class="flex flex-col pt-120 items-start bg-[url('../assets/images/fondo3.png')] bg-size-[1200px] dark:bg-auto dark:bg-[url('../assets/images/fondo2.jpeg')] bg-no-repeat min-h-screen w-full bg-right">
        <h1 class="text-4xl font-bold text-black dark:text-white">Miguel Angel Pascual Martinez</h1>
        <h2 class="text-3xl font-bold text-blue-800 dark:text-blue-200">Backend Developer</h2>
    </div>
</div>
<Footer></Footer>
    
