<div class="secciones" id="cuarta-seccion">
    <div class="font-bold">Conocimientos</div>
    <div class="ml-10">
        <ul>
            <li>
                <p class="conocimiento">Java</p>
                <p class="biz">Básico</p>
                <p class="ide">Intermedio</p>
            </li>
            <li>
                <p class="conocimiento">Python</p>
                <p class="basico">Básico</p>
            </li>
            <li>
                <p class="conocimiento">Linux</p>
                <p class="basico">Básico</p>
            </li>
            <li>
                <p class="conocimiento">Inglés</p>
                <p class="basico">Básico</p>
            </li>
            <li>
                <p class="conocimiento">Redes</p>
                <p class="basico">Básico</p>
            </li>
            <li>
                <p class="conocimiento">Ciberseguridad</p>
                <p class="basico">Básico</p>
            </li>
            <li>
                <p class="conocimiento">HTML</p>
                <p class="muy-basico">Muy básico</p>
            </li>
            <li>
                <p class="conocimiento">CSS</p>
                <p class="muy-basico">Muy básico</p>
            </li>
            <li>
                <p class="conocimiento">C++</p>
                <p class="muy-basico">Muy básico</p>
            </li>
            <li>
                <p class="conocimiento">Bash</p>
                <p class="muy-basico">Muy básico</p>
            </li>
        </ul>
    </div>

    <div class="font-bold mt-10">Experiencia</div>
    <div class="ml-10">
        <ul>
            <li>
                <b>Estadias profesionales en World Vision</b><br />
                <li>
                    Revisión de las características de equipos de cómputo. <br
                    />
                    Análisis del funcionamiento de los equipos de cómputo.
                    <br />
                    Realización de inventarios haciendo uso de herrameintas de ofimática
                    (Excel). <br />
                    Diseño e implementación de un software para optimizar control
                    de inventarios (CRUD) utilizando el lenguaje de programación
                    Java.
                </li>
            </li>
            <br />
            <li>
                <b>Servicio social en el Ayuntamiento de San José del Rincón</b
                ><br />
                <li>
                    Revisión de impresoras, instalación de controladores,
                    agregar dispositivos por IP. <br />
                    Ponchado de cables de red para formar cables de Ethernet T568-B
                    y jacks. <br />
                    Mantenimiento de equipos de cómputo. <br />
                    Instalación de equipo para realizar presentaciones.
                </li>
            </li>
        </ul>
    </div>

    <div class="font-bold mt-10">Formación profesional</div>
    <div class="ml-10">
        <ul>
            <li>
                <b>Técnico en Informática / 2019 - 2022</b><br />
                CBT No.2 San Felipe del Progreso
            </li>
            <br />
            <li>
                <b>Ingeniearía en Sistemas Computacionales / 2022 - presente</b
                ><br />
                Universidad Mexiquense del Bicentenario San José del Rincón
            </li>
        </ul>
    </div>

    <div class="font-bold mt-10">Cursos</div>
    <div class="ml-10">
        <ul>
            <li>
                <b>Lenguaje de programación Java</b>
                <li>
                    Java desde cero. La Geekipedia de Ernesto / 2021 - 2021 <br
                    />
                    Java intermedio. La Geekipedia de Ernesto / 2021 - 2021
                    <br />
                    Máster completo en Java de cero a experto. Andrés Guzmán, Udemy
                    / 2024 - presente
                </li>
            </li>
            <br />
            <li>
                <b>Lenguaje de programación Python</b>
                <li>
                    Python 3 desde cero. La Geekipedia de Ernesto / 2022 - 2022 <br
                    />
                    Programación en Python. Programación ATS / 2022 - 2022
                    <br />
                    Python desde cero. Pildoras informáticas (básico) / 2022 - 2022
                </li>
            </li>
            <br />
            <li>
                <b>Lenguaje de programación C++</b>
                <li>Programación en C++. Programación ATS / 2023 - 2023</li>
            </li>
            <br />
            <li>
                <b>Lenguaje de scripting Bash</b>
                <li>Bash desde cero. Fazt / 2023 - 2025</li>
            </li>
            <br />
            <li>
                <b>Redes</b>
                <li>CCNA: Introducción a las redes / 2024 - 2025</li>
            </li>
            <br />
            <li>
                <b>Ciberseguridad</b>
                <li>
                    Curso Completo de Ciberseguridad Defensiva. Santiago
                    Hernández / 2025 - 2025
                </li>
            </li>
        </ul>
    </div>
</div>

<style>
    .secciones {
        background-color: transparent;
        width: 90%;
        margin: auto;
        padding: 20px;   
    }

    .biz {
        border-top-left-radius: 50px; 
        border-bottom-left-radius: 50px;
        display: inline-block;
        width: 28%;
        background-color: red;
        color: #fff;
        text-align: center;
    }

    .ide {
        display: inline-block;
        width: 28%;
        background-color: green;
        color: #fff;
        text-align: center;
        border-top-right-radius: 50px; 
        border-bottom-right-radius: 50px;
    }

    .basico {
        display: inline-block;
        width: 28%;
        background-color: red;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }

    .muy-basico {
        display: inline-block;
        width: 14%;
        background-color: red;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }

    .intermedio {
        display: inline-block;
        width: 28%;
        background-color: green;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }

    .avanzado {
        display: inline-block;
        width: 28%;
        background-color: dodgerblue;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }

    .conocimiento {
        display: inline-block;
        width: 12%;
    }

    .titulo {
        width: 20%;
    }

    .contenido {
        width: 80%;
    }

    ul {
        list-style-type: none;
        margin-left: 10px;
        padding: 0;
    }

    #cuarta-seccion table {
        width: 100%;
    }

    li {
        padding-top: 10px;
    }

</style>
