---
import "../styles/global.css";
import Toolbar from "../components/molecules/Toolbar.astro";
import Footer from "../components/templates/Footer.astro";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Acerca de mi</title>
        <script is:inline>
            const saved = localStorage.theme;

            if (
                saved === "dark" ||
                (!saved &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>

    <Toolbar />

    <body
        class="font-sans bg-[#f3f4f5] text-gray-900 dark:bg-gray-950 dark:text-gray-100 min-h-screen flex flex-col"
    >
        <section id="acerca" class="p-8 space-y-16 flex-1">
            <h2 class="text-xl font-semibold pt-20">Acerca de mi</h2>
            <div
                class="secciones grid grid-cols-2 [grid-template-areas:'contenido_contenido_foto'] space-be items-center text-justify space-x-20 mt-5"
                id="primera-seccion"
            >
                <div class="[grid-area:contenido] ml-10">
                    <p>
                        Mi nombre completo es Miguel Angel Pascual Martinez, soy
                        originario de San Nicolás Guadalupe, San Felipe del
                        Progreso, del Estado de México. Actualmente tengo 21
                        años de edad y estoy estudiando la carrera profesional
                        de Ingeniería en Sistemas Computacionales en la
                        Universidad Mexiquense del Bicentenario, Unidad de
                        Estudios Superiores San José del Rincón. <br /><br />
                        Estoy cursando el séptimo semestre de la carrera. Soy una
                        persona reservada y autodidacta. Me gusta bastante la tecnología,
                        principalmente el tema de la programación porque es una manera
                        de dejar volar mi imaginación y crear diversas cosas. Además
                        de la programación me agradan los sistemas operativos como
                        aquellos que no suelen usarse comunmente (Linux) y algunas
                        aplicaciones que son alternativas a otras aplicaciones que
                        son más usadas o que son comerciales, siempre investigando
                        primero como funcionan y si son confiables.
                        <br /><br />
                        Debido al miedo de usar las computadoras cuando cursé mi
                        educación básica es que me intereśe en la tecnología, gracias
                        a la carrera técnica que elegí en mi bachillerato me interesé
                        en la programación y actualmente, gracias a la universidad,
                        me han llamado la atención los sistemas operativos, servidores,
                        las redes (un tema que anteriormente de forma autodidacta
                        traté de aprender pero no me llamó la atención) y me esforcé
                        por adentrarme en el tema de la ciberseguridad (otro tema
                        que trate de aprender pero no me habia llamado la atención).
                        <br /><br />
                        Ahora, en el séptimo semestre estoy adentrándome en el tema
                        de la programación web, comenzando con la estructura y estilos
                        en el desarrollo web (otro tema que anteriormente había visto
                        y no me había llamado la atención), por ahora me va gustando
                        y me gustaría seguir aprendiendo.
                    </p>
                </div>
                <div class="[grid-area:foto] mr-10">
                    <img
                        src="../../../src/assets/images/foto_personal.png"
                        alt="Miguel"
                        title="Foto de Miguel Ángel"
                        class="w-60 rounded-full"
                    />
                </div>
            </div>
        </section>
    </body>

    <Footer />
</html>
