---
import "../styles/global.css";
import Toolbar from "../components/molecules/Toolbar.astro";
import Footer from "../components/templates/Footer.astro";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Acerca de mi</title>
        <script is:inline>
            const saved = localStorage.theme;

            if (
                saved === "dark" ||
                (!saved &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>

    <Toolbar />

    <body
        class="font-sans bg-[#f3f4f5] text-gray-900 dark:bg-gray-950 dark:text-gray-100 min-h-screen flex flex-col"
    >
        <section id="acerca" class="p-8 space-y-16 flex-1">
            <h2 class="text-xl font-semibold pt-20">Acerca de mi</h2>
            <div
                class="secciones grid grid-cols-2 [grid-template-areas:'contenido_contenido_foto'] space-be items-center text-justify space-x-20 mt-5"
                id="primera-seccion"
            >
                <div class="[grid-area:contenido] ml-10">
                    <p>                        
                        Soy Miguel Ángel Pascual Martínez. Actualmente estoy cursando la carrera
                        de Ingeniería en Sistemas Computacionales en la
                        Universidad Mexiquense del Bicentenario. 
                        Soy una persona autodidacta apasionada por la tecnología, 
                        en especial la programación, me especializo en lenguajes de programación 
                        backend como Java y Python, ambos lenguajes los domino a un nivel intermedio.
                        <br><br>
                        Con Python he desarrollado diversos proyectos escolares, como algunos 
                        juegos básicos y proyectos que implican el uso de frameworks como Flask.
                        Y en el caso de Java tengo experiencia utilizándolo para desarrollo de aplicaciones
                        de escritorio, con este lenguaje realicé un Sistema para el control de inventarios
                        en World Vision durante estadias profesionales.
                        <br><br>
                        La programación me ha ayudado a visualizar diversas formas de dar solución a una 
                        problemática, permitiendome aprender y crecer como desarrollador de software.
                        Además de la programación, me apasionan los Sistemas Operativos, las Redes y la
                        Seguridad Informática.
                        
                    </p>
                </div>
                <div class="[grid-area:foto] mr-10">
                    <img
                        src="/images/foto_personal.png"
                        alt="Miguel"
                        title="Foto de Miguel Ángel"
                        class="w-60 rounded-full"
                    />
                </div>
            </div>
        </section>
    </body>

    <Footer />
</html>
