---
import "../styles/global.css";
import Toolbar from "../components/molecules/Toolbar.astro";
import Footer from "../components/templates/Footer.astro";
import ProjectCard from "../components/molecules/ProjectCard.astro";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Proyectos</title>
        <script is:inline>
            const saved = localStorage.theme;

            if (
                saved === "dark" ||
                (!saved &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>
    <Toolbar />
    <body
        class="font-sans bg-[#f3f4f5] text-gray-900 dark:bg-gray-950 dark:text-gray-100 flex flex-col min-h-screen"
    >
        <section id="proyectos" class="p-8 space-y-16 flex-1">
            <h2 class="text-xl font-semibold pt-20">Proyectos</h2>

            <section
                id="proyectos"
                class="max-w-[1000px] mx-auto my-10 bg-white rounded-[15px] shadow-lg p-[60px_20px] font-sans text-gray-900 dark:bg-gray-950 dark:text-gray-100"
            >                
                <div class="flex flex-wrap justify-center gap-5">                    
                    <ProjectCard
                        source="images/projects/formulario_fisica.png"
                        alternative="Formulario de Física"
                        title="Formulario de Física"
                        description="Elaboración de un Formulario de Física en Java para conversiones de diversas unidades de medida."
                        link="https://github.com/Miguel-Pasc/FormularioFisica"
                    />
                    <ProjectCard
                        source="images/projects/juego_cubos.png"
                        alternative="Juego de cuadrados"
                        title="Juego de cuadrados"
                        description="Creación de un juego básico en Pygame sobre un cuadro que tiene enemigos los cuales se mueven de forma aleatoria."
                        link="https://github.com/Miguel-Pasc/Juego-de-cuadrados"
                    />
                    <ProjectCard
                        source="images/projects/rappi_simulacion.png"
                        alternative="Simulación de entregas de pedidos"
                        title="Simulación de entregas de pedidos"
                        description="Diseño de una simulación que imita el funcionamiento de entregas de pedidos en una ciudad, similar a Rappi."
                        link="https://github.com/Miguel-Pasc/Simulacion-entregas"
                    />
                    <ProjectCard
                        source="images/projects/microPay.png"
                        alternative="microPay"
                        title="microPay"
                        description="Implementación de un sistema de múltiples pagos consumiendo una API para transacciones utilizando diferentes divisas."
                        link="https://github.com/d3ny25/microPay"
                    />
                </div>
            </section>
        </section>
    </body>
</html>
<Footer />
