---
import NavLink from "../atoms/NavLink.astro";

const links = [
  { label: "Acerca de mi", href: "/AboutMe" },
  { label: "Habilidades", href: "/Skills" },
  { label: "Proyectos", href: "/Projects" },
  { label: "Contacto", href: "/Contact" },
];
---
<nav class="flex gap-8">
  {links.map(link => (
    <NavLink label={link.label} href={link.href} />
  ))}
</nav>