---
import NavLink from "../atoms/NavLink.astro";

const links = [
  { label: "Acerca de mi", href: "/miguel-pasc.github.io/AboutMe" },
  { label: "Habilidades", href: "/miguel-pasc.github.io//Skills" },
  { label: "Proyectos", href: "/miguel-pasc.github.io//Projects" },
  { label: "Contacto", href: "/miguel-pasc.github.io//Contact" },
];
---
<nav class="flex gap-8">
  {links.map(link => (
    <NavLink label={link.label} href={link.href} />
  ))}
</nav>