<div
    class="bg-white rounded-xl w-[280px] shadow-md overflow-hidden transition-transform duration-300 hover:-translate-y-1 font-sans text-gray-900 dark:bg-gray-600/50 dark:text-gray-50"
>
    <img src="" alt="" class="w-full h-[180px] object-cover" />
    <h3 class="text-blue-700 dark:text-blue-200 text-xl font-semibold text-center mt-3">1</h3>
    <p class="text-center text-gray-700 dark:text-gray-50 px-3 pb-5">Descripcion
        
    </p>
</div>
