---
import Logo from "../atoms/Logo.astro";
import NavMenu from "./NavMenu.astro";
---
<header class="w-full bg-white dark:bg-gray-900 shadow-md dark:shadow-gray-700 fixed">
  <div class="max-w-7xl mx-auto flex items-center justify-between p-5">
    <Logo />
    <div class="flex items-center gap-6">
      <NavMenu />
    </div>
  </div>
</header>
