---
import luna from "../../../public/images/icons/luna.png"
import Logo from "../atoms/Logo.astro";
import NavMenu from "./NavMenu.astro";
---

<header
  class="w-full bg-[#fafafa]/50 shadow-gray-400/50 dark:bg-gray-900/50 shadow-md dark:shadow-gray-700 fixed"
  style="z-index: 2;"
>
  <div
    class="max-w-8xl mx-auto flex items-center justify-between p-5 pl-15 pr-15"
  >
    <Logo />
    <div class="flex items-center gap-6">
      <NavMenu />
      <button id="theme-toggle" class="p-2 rounded"> 
        <img src="images/icons/luna.png" alt="Icono luna" width="30px"> 
      </button>
      <script>
        window.onload = () => {
          const btn = document.getElementById("theme-toggle");

          if (!btn) return; // evita errores

          btn.addEventListener("click", () => {
            const html = document.documentElement;
            const isDark = html.classList.contains("dark");

            if (isDark) {
              html.classList.remove("dark");
              localStorage.theme = "light";
              btn.innerHTML = '<img src="images/icons/luna.png" alt="Icono luna" width="30px">'         
            } else {
              html.classList.add("dark");
              localStorage.theme = "dark";
              btn.innerHTML = '<img src="images/icons/sol.webp" alt="Icono sol" width="30px">'
            }
          });

          if (document.documentElement.classList.contains("dark")) {
            btn.innerHTML = '<img src="images/icons/sol.webp" alt="Icono sol" width="30px">'            
          }
        };
      </script>
    </div>
  </div>
</header>
